In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## First import the first dataset to know the data

In [6]:
data = pd.read_csv("../../datasets/distributed-data/001.csv",sep=";")
data.head(5)
data.shape

(1461, 1)

Import all the files
    * With a for we load all the records
    * We append all the data

In [28]:
filepath = "../../datasets/distributed-data/"
data = pd.read_csv("../../datasets/distributed-data/001.csv")

for i in range(2,333):
    if i < 10:
        filename = "00" + str(i)
    elif 10 <= i < 100:
        filename = "0" + str(i)
    elif i >= 100:
        filename = str(i)
    file1 = filepath + filename + ".csv"
    
    tempdata = pd.read_csv(file1)

    data = pd.concat([data,tempdata], axis = 0)

In [29]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332